/packages
/Mojopin.Frontend/obj
/Mojopin.Frontend/bin
/Mojopin.Frontend/App_Data/NuGetBackup/20161029-112850/bin
/Mojopin.Frontend/App_Data/NuGetBackup/20161029-112856/Config
/Mojopin.Frontend/App_Data
/Mojopin.Frontend/media
