@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
<!-- Navigation -->
@Html.Partial("HeaderNavigation")
<!-- Set your background image for this header on the line below. -->
<!-- Main Content -->
@RenderBody()
<hr>
<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li>
                        <a href="https://twitter.com/pipelina" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/filipagalrao/" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/a_pipelina/" target="_blank">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; mojopin @DateTime.Now.Year</p>
            </div>
        </div>
    </div>
</footer>
<!-- jQuery -->
<script src="/Sources/js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/Sources/js/bootstrap.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="/Sources/js/clean-blog.min.js"></script>
<script src="//www.powr.io/powr.js" powr-token="7fd0c98a0f" external-type="web"></script>


