@using Umbraco.Web.Models
@using Mojopin.Frontend.Services;
@model IEnumerable<Mojopin.Frontend.Models.ItemPreview>
@{
    var currentNode = uQuery.GetCurrentNode();
    var category = currentNode.NodeTypeAlias.Equals("Category") ? currentNode.Id : 0;
}
<div class="row">
    <div id="feed" class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

        @foreach (var item in Model)
        {
            switch (item.NodeTypeAlias)
            {
                case "Note":
                    @Html.Partial("NotePreview", item)
                    break;
                case "Article":
                    @Html.Partial("ArticlePreview", item)

                    break;
            }
        }
        <!-- Pager -->

    </div>
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

        <ul class="pager">
            <li class="next">
                <a class="vermais" data-page="2" data-category="@category" href="#">ver mais &rarr;</a>
            </li>
        </ul>
    </div>
</div>
