@using MojoPin.Frontend.Helpers
@using umbraco.MacroEngines
@using umbraco.NodeFactory
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var currentNode = new DynamicNode(Model.Content.Id);
    var configNode = currentNode.AncestorOrSelf(p => p.NodeTypeAlias.Equals("Website"));
    var menuItems = UmbracoContentHelper.GetRelatedLinks("headerLinks", configNode);
}
<style>
    #search {
       padding:10px 10px 10px 10px;
    }

        #search input[type="text"] {
            /*background: url(/Sources/Images/search.png) no-repeat 10px 6px #fcfcfc;*/
            background: url(/Sources/Images/search.png) no-repeat 10px 6px #fcfcfc;
            border: 1px solid #d1d1d1;
            /*font: bold 12px Arial,Helvetica,Sans-serif;*/
            /*color: #bebebe;*/
            width: 150px;
            padding: 6px 15px 6px 35px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
            text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
            -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
            -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
            -webkit-transition: all 0.7s ease 0s;
            -moz-transition: all 0.7s ease 0s;
            -o-transition: all 0.7s ease 0s;
            transition: all 0.7s ease 0s;
        }

            #search input[type="text"]:focus {
                width: 200px;
            }
</style>
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @if (!Node.GetCurrent().NodeTypeAlias.Equals("Homepage"))
            {
                <a class="navbar-brand" href="/">mojopin.pt</a>
            }

        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                @foreach (var item in menuItems)
                {
                    <li>
                        <a style="@(item.Url==Node.GetCurrent().Url? "color:#deb887" : "")" href="@item.Url" target="@item.Target">@item.Caption</a>
                    </li>
                }
                <li>
                    <form method="get" action="/search" id="search">
                        <input name="q" type="text" size="40" placeholder="pesquisa..." />
                    </form>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
