@model Mojopin.Frontend.Models.ItemPreview
@using System.Globalization
@{
    var umbracoHelper = new Umbraco.Web.UmbracoHelper(Umbraco.Web.UmbracoContext.Current);
    var currentNode = UmbracoContext.Current.PublishedContentRequest.PublishedContent;
    var current = umbracoHelper.TypedContent(Model.NodeId);
}
<div class="note">
        <div class="post-preview text-center" style="padding-top:8px;">
            <h1 class="post-title " style="">
                @Model.Title

            </h1>
            <div class="newfont">
                @Html.Raw(Model.Description)
            </div>
            <p class="post-meta newfont" style="align-self: center; padding-top: 20px">
                @Model.DateFormatted
            </p>
            <hr>
        </div>
</div>